.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.input {
	padding: 4px;
	width: 220px;
	height: 25px;
	margin-top: 15px;
}

.checkbox {
	margin-bottom: 10px;
	margin-top: 11px;
}

.buttonBlock {
	text-align: center;
}

.button {
	width: 80px;
	height: 32px;
}

.submitError {
	color: red;
	margin-bottom: 20px;
} 